body {
  font-family: 'Montserrat';
}

.navbar {
  padding-top: 20px 0;
}

.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-brand {
  font-size: 2rem;
}

.btn {
  background-color: #98898f;
  color: white;
}

.carousel-inner {
  padding-top: 70px;
  padding-bottom: 70px;
}